<!--  Created by Matt on 8/21/2016. -->

<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <img src="img/logo.png" alt="Test logo">
        <h1><%= title %></h1>
        <% if ( userFullName ) { %>
        <h2>Hello <%=userFullName%> </h2>
        <a href="/signout">Sign out</a>
        <% } else { %>
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
        <% } %>
    </body>
</html>