<!--  Created by Matt on 8/21/2016. -->

<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1><%= title %></h1>
        <% if ( userFullName ) { %>
            <h2>Hello <%=userFullName%> </h2>
            <a href="/signout">Sign out</a>
        <% } else { %>
            <a href="/signup">Signup</a>
            <a href="/signin">Signin</a>
        <% } %>

        <section>
            <input type="text" id="text1" ng-model="name">
            <input type="text" id="text2" ng-model="name">
        </section>

    </body>

    <!-- Angular -->
    <!-- Core -->
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <!-- Custom -->
    <script type="text/javascript" src="/application.js"></script>


    <!-- Facebook SDK -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1785007371742043',
                xfbml      : true,
                version    : 'v2.7'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</html>