<!--  Created by Matt on 8/21/2016. -->

<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1><%= title %></h1>
        <% if (user) { %>
            <h2>Hello <%=userFullName%> </h2>
            <a href="/signout">Sign out</a>
        <% } else { %>
            <a href="/signup">Signup</a>
            <a href="/signin">Signin (broken atm)</a>
        <% } %>

        <section ng-view></section>

        <!--            -->
        <!--  Scripts   -->
        <!--            -->

        <script type="text/javascript">
            window.user = <%- user || 'null' %>
        </script>

        <!-- Angular Libraries -->
        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
        <!-- Angular Custom -->
        <script type="text/javascript" src="/example/example.client.module.js"></script>
        <script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
        <script type="text/javascript" src="/example/config/example.client.routes.js"></script>

        <script type="text/javascript" src="/users/users.client.module.js"></script>
        <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
        <!-- Angular Application -->
        <script type="text/javascript" src="/application.js"></script>

        <!-- Facebook SDK -->
        <script type="text/javascript" src="/js/facebookSdk.js"></script>
    </body>



</html>