<!--  Created by Matt on 8/21/2016. -->

<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1><%= title %></h1>
    </body>
</html>